:root {
    --teal-color: #00a896;
}

.text-teal {
    color: var(--teal-color) !important;
}

.btn-teal {
    background-color: var(--teal-color);
    border-color: var(--teal-color);
}

.btn-teal:hover {
    background-color: #028074;
}

.fs-7 {
    font-size: 0.8rem;
}

.tracking-wide {
    letter-spacing: 2px;
}

.tracking-tight {
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 5px;
    display: block;
    color: #555;
}

/* Estilo para los bloques de iconos de servicios */
.nav-iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-link-custom {
    padding: 10px 15px;
    text-align: center;
}

/* Banner Hero usando tu foto */
.hero-premium {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/cabana-interior.jpg');
    background-size: cover;
    background-position: center;
    height: 65vh;
}

.btn-outline-white {
    color: white;
    border: 2px solid white;
    background: transparent;
    transition: all 0.3s;
}

.btn-outline-white:hover {
    background: white;
    color: #333;
}

/* Caja de Destacados Flotante */
.contenedor-buscador {
    margin-top: -40px;
    position: relative;
    z-index: 10;
}

.target-section {
    padding-top: 80px !important;
}

.fs-8 {
    font-size: 0.75rem;
}

.estrella-dorada {
    color: #ffc107 !important; /* El !important obliga al navegador a usar este amarillo de Airbnb */
}
/* Banner sobre las reseñas */
.banner-resenas {
    /* Reemplaza 'cabana-entorno.jpg' por el nombre de tu nueva foto */
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/cabana-entorno.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantiene un efecto de movimiento (parallax) elegante al scrollear */
    height: 250px; /* Altura del banner */
    width: 100%;
}